<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OpTopic - Home</title>

    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body>

    <div>
        <ul class="navbar">
            <li claa="navbarEl">
                <a class="navbarLink" href="{{ url_for('home') }}"><img style="width:20%"
                        src="{{ url_for('static', filename='images/logo.png') }}" alt="alternative"></a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                    EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('serverClosed') }}">CLOSE DASHBOARD</a>
            </li>
        </ul>
    </div>

    <header id="header">
        <div>
            <h1 style="text-align: center">OpTopic</h1>
        </div>
    </header>

    <div>
        <div style="overflow: hidden;">
            <div style="float: left;width: 50%;">
                <img id="pic1" class="picAligned" src="{{url_for('static', filename='images/pic1.jpg')}}">
            </div>
            <div style="float: left;width: 50%;">
                <h2 class="centeredText">Create yout own experiments!</h2>
            </div>
        </div>

        <div style="overflow: hidden;">
            <div style="float: left;width: 50%;">
                <h2 class="centeredText">Visualize you're experiments!</h2>
            </div>
            <div style="float: left;width: 50%;">

                <img id="pic2" class="picAligned" src="{{url_for('static', filename='images/pic2.jpg')}}">
            </div>

        </div>
    </div>

    <div class="footer">
        <div class="container">
            <h4>Optopic</h4>
            <p class="white">Optimizing topic models made simple.</p>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script>
        document.getElementById("pic1").onclick = function () {
            window.location.href = "{{ url_for('CreateExperiments') }}";
        }

        document.getElementById("pic2").onclick = function () {
            window.location.href = "{{ url_for('VisualizeExperiments') }}";
        }
    </script>
</body>

</html>