<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>OpTopic - Manage Experiments</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <style>
        div.choice {
            border-radius: 25px;
            border: 2px solid #3254d0;
            padding: 20px;
            background-color: #a5b5f1;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img
                src="{{ url_for('static', filename='images/logo.png') }}" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('home') }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                        EXPERIMENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('shutdown') }}">CLOSE DASHBOARD</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Manage Experiments</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->



    <div>
        <ul id="container" style="list-style: none;"></ul>
    </div>
    <button class="form-control-submit-button" onclick="stopCurrent()">stop running</button>
    <button class="form-control-submit-button" onclick="start()">Start running</button>


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Optopic</h4>
                        <p class="white">Optimizing topic models made simple.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Made in 2020, MIND. Department of Informatics Systems and Communication of Milano
                        Bicocca</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.magnific-popup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>

    <script>

        function getParams(vars) {
            return vars;
        }

        function stopCurrent() {
            $.ajax(
                {
                    type: 'POST',
                    url: "/pauseExp",
                    success: function (data) { console.log("stopped") }
                });
            el = $(".running:eq(0)")
            el.attr("draggable", true)
            el.children().css("background-color", "#a5b5f1")
            el.removeClass("running")


        }

        function start() {
            $.ajax(
                {
                    type: 'POST',
                    url: "/startExp",
                    success: function (data) { console.log("stopped") }
                });
            el = $("#container li").first()
            el.attr("draggable", false)
            el.children().css("background-color", "#a89732")
            el.addClass("running")


        }

        order = getParams({{ order| tojson}});
        exps = getParams({{ experiments| tojson}});
        running = getParams({{ running| tojson}});

        element = document.getElementById("container")



        if (running != null) {
            child = document.createElement("li")
            child.classList.add("sortable-bulk")
            child.setAttribute('draggable', false);
            child.dataset.expName = running
            child.classList.add("running")


            div = document.createElement("div")
            div.style.backgroundColor = "#a89732"
            div.classList.add("choice")
            div.innerHTML = "<b>" + exps[running]["experimentId"] +
                " batch: " + exps[running]["batchId"] + " </b><br>" +
                "<b>Model:</b> " + exps[running]["model"] +
                "<br><b>Search space:</b> " + JSON.stringify([running]["search_spaces"]) +
                "<br><b>Dataset:</b> " + exps[running]["dataset"] +
                "<br><b>Optimized metric:</b> " + exps[running]["optimize_metrics"][0]

            child.appendChild(div)
            element.appendChild(child)
        }



        for (i = 0; i < order.length; i++) {

            child = document.createElement("li")
            child.classList.add("sortable-bulk")
            child.setAttribute('draggable', true);
            child.dataset.expName = order[i]


            div = document.createElement("div")
            div.classList.add("choice")
            div.innerHTML = "<b>" + exps[order[i]]["experimentId"] +
                " batch: " + exps[order[i]]["batchId"] + " </b><br>" +
                "<b>Model:</b> " + exps[order[i]]["model"] +
                "<br><b>Search space:</b> " + JSON.stringify([order[i]]["search_spaces"]) +
                "<br><b>Dataset:</b> " + exps[order[i]]["dataset"] +
                "<br><b>Optimized metric:</b> " + exps[order[i]]["optimize_metrics"][0]

            child.appendChild(div)
            element.appendChild(child)

        }




        var dragging = null;

        document.addEventListener('dragstart', function (event) {
            pr = event.target;
            while (pr.tagName != "li" && pr.tagName != "LI") {
                pr = pr.parentNode
            }
            dragging = pr
            event.dataTransfer.setData('text/html', dragging);
        });

        document.addEventListener('dragover', function (event) {
            event.preventDefault();
        });

        document.addEventListener('drop', function (event) {
            event.preventDefault();
            pr = event.target.parentNode
            while (pr.tagName != "li" && pr.tagName != "LI") {
                pr = pr.parentNode
            }
            if (!pr.classList.contains("running"))
                pr.parentNode.insertBefore(dragging, pr);

            update()
        });


        function update() {
            element = document.getElementById("container")

            newOrder = []

            var i = 0;
            if (document.getElementsByClassName("running").length > 0) {
                i = 1;
            }

            for (i; i < element.children.length; i++) {
                newOrder.push(element.children[i].dataset.expName)
            }

            $.ajax(
                {
                    type: 'POST',
                    url: "/updateOrder",
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify({ "data": newOrder }),
                    success: function (data) {
                        console.log(newOrder)
                    }
                })
        }
    </script>

</body>

</html>