<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpTopic - {{experimentName}}</title>

    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body>
    <div>
        <ul class="navbar">
            <li claa="navbarEl">
                <a class="navbarLink" href="{{ url_for('home') }}"><img style="width:20%"
                        src="{{ url_for('static', filename='images/logo.png') }}" alt="alternative"></a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                    EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('serverClosed') }}">CLOSE DASHBOARD</a>
            </li>
        </ul>
    </div>
    <header id="header">
        <div>
            <h1 style="text-align: center">{{experimenName}}</h1>
        </div>
    </header>
    <h2 style="text-align: center;">Overview of the experiments</h2>
    <div id="projects" class="singleSection">
        <div style="height: 5%"></div>
        <div style="float: left; margin-left: 1%;width: 50%; height: 21%;">
            <div class="container">
               <div class="row">
                    <div class="col-sm-4">
                        <b> Select a experiment to analyze </b>
                    </div>
                     <div class="col-sm-4">
                        <div style="height: 10%;width: 100%;" id="expSelector"></div>
                    </div>
                </div>

            </div>
        </div>
        <div id="generic" style="float: left; margin-left: 5%;margin-right:5%; width: 90%; height: 79%;"></div>
    </div>
    <hr>
    <h2 style="text-align: center;">Titolo2</h2>
    <div class="singleSection">
        <div style="height: 5%"></div>
        <div style="float: left; margin-left: 1%;width: 29%; height: 100%;">
            <b>blablabla blablabla blablabla </b>
            <div style="height: 10%;" id="iterationSelector"></div>
            <p>Statistics of a single model </p>
            <div style="height: 40%;" id="expInfo"></div>
        </div>
        <div style="float: left; width: 70%; height: 100%;">
            <div style="height: 15%;">
                <div class="container">
                   <div class="row">
                        <div class="col-sm-4">
                            <b> blablabla blablabla blablabla</b>
                        </div>
                         <div class="col-sm-4">
                            <div style="height: 15%;margin-left: 10%; width: 30%" id="topicSelector"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="height: 85%;" id="container"></div>
        </div>

    </div>
    <hr>

    <h2 style="text-align: center;">Titolo3</h2>
    <div class="singleSection">
         <div style="float: left; margin-left: 5%;margin-right: 5%;width: 40%; height: 100%;">
             <div style="height: 20%;">
                 <b>Topic distribution as a function of the document </b>
                <input type="number" value="0" id="docSelector" min="0" max="{{ datasetMetadata['total_documents'] }}">
                <input type="button" value="Ok" onclick="updateDocViewer()">
            </div>
            <div id="docTopic" style="height: 70%;"></div>
            <div id="docPreview" style="height: 10%;"></div>
        </div>
        <div style="float: left; margin-right: 5%;margin-left: 5% ;width: 40%; height: 100%;">
              <div style="height: 10%;">
                 <b>Word distribution on the topic </b>
                <select style="width: 50%;" id="wordSelector" class="coolSelect" onchange="updateWordGraph()"></select>
            </div>

            <div id="wordTopic" style="height: 90%;"></div>
        </div>
    </div>

    <div class="footer">
        <div class="container">
            <h4>Optopic</h4>
            <p class="white">Optimizing topic models made simple.</p>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>

</body>
<script>
    function getParams(vars) {
        return vars;
    }

    function updateDropdownIndex(dropdownId, value) {
        dropDown = document.getElementById(dropdownId)
        for (var i, j = 0; i = dropDown.options[j]; j++) {
            if (i.text == value) {
                dropDown.selectedIndex = j;
                break;
            }
        }
    }

    function isFloat(val) {
        var floatRegex = /^-?\d+(?:[.,]\d*?)?$/;
        if (!floatRegex.test(val))
            return false;

        val = parseFloat(val);
        if (isNaN(val))
            return false;
        return true;
    }


    var output = getParams({{ output| tojson}});
    globalInfo = getParams({{ globalInfo| tojson}});
    iterationInfo = getParams({{ iterationInfo| tojson}});
    var expInfo = getParams({{ expInfo| tojson}});
    expIds = getParams({{ expIds| tojson}});
    expName = getParams({{ experimentName| tojson}});
    var vocabulary = getParams({{ vocabulary| tojson}});


    function writeInfo(elementId, info) {
        ele = document.getElementById(elementId)
        ele.innerHTML = ''
        hyperparams = ''
        if ("hyperparameter_configuration" in info) {
            hyperparams = "<br><b>Hyperparameters configuration:</b>"

            $.each(info["hyperparameter_configuration"], function (key, value) {
                val = value
                if (isFloat(value)) {
                    val = parseFloat(value)
                    val = val.toFixed(4)
                }
                hyperparams = hyperparams + "<br><b>" + key + ":</b> " + val
            });
        }

        node = document.createElement("p")
        node.innerHTML = "<b>Best seen:</b> " + info["best_seen"].toFixed(4) +
            "<br><b>Mean:</b> " + info["mean_seen"].toFixed(4) +
            "<br><b>Median:</b> " + info["median_seen"].toFixed(4) +
            "<br><b>Worst seen:</b> " + info["worse_seen"].toFixed(4) +
            hyperparams;

        ele.appendChild(node)
    }




    selectExp = document.createElement("select")
    selectExp.classList.add("coolSelect")
    selectExp.id = "selecExp"

    selectExp.addEventListener("click", function () {
        infoSelector = JSON.parse(this.value)
        location.href = "../../SingleExperiment/" + infoSelector["batchId"] + "/" + infoSelector["expId"]
    })

    for (const val of expIds) {
        var option = document.createElement("option");
        option.text = val[0];
        option.value = JSON.stringify({ "expId": val[1][1], "batchId": val[1][0] })
        selectExp.appendChild(option)
    }

    document.getElementById("expSelector").appendChild(selectExp)
    updateDropdownIndex(selectExp.id, expName)


    sel = document.getElementById("iterationSelector")

    iterSelect = document.createElement("input")
    iterSelect.id = "iterselect"
    iterSelect.setAttribute("type", "number");
    iterSelect.setAttribute("min", 0);
    if (globalInfo != false) {
        iterSelect.setAttribute("max", globalInfo["f_val"].length - 1);
    }
    else {
        iterSelect.setAttribute("max", 0);
    }
    iterSelect.defaultValue = 0

    sel.appendChild(document.createTextNode("Iteration: "))
    sel.appendChild(iterSelect)


    runSelect = document.createElement("input")
    runSelect.id = "runselect"
    runSelect.setAttribute("type", "number");
    runSelect.setAttribute("min", 0);
    if (expInfo != false) {
        runSelect.setAttribute("max", expInfo["optimization"]["model_runs"] - 1);
    } else {
        runSelect.setAttribute("max", 0);
    }
    runSelect.defaultValue = 0

    sel.appendChild(document.createTextNode("Model run: "))
    sel.appendChild(runSelect)






    function updateTopicSelector() {
        topicSelector = document.getElementById("topicSelector")
        topicSelector.innerHTML = ''

        topicSelect = document.createElement("select")
        topicSelect.classList.add("coolSelect")
        topicSelect.id = "selecTopic"
        topicSelect.addEventListener("click", function () {
            draw(this.value)
        })

        if (output != false) {

            for (i = 0; i < output["topic-word-matrix"].length; i++) {
                var option = document.createElement("option");
                option.text = i;
                option.value = i;
                topicSelect.appendChild(option)
            }
        }

        topicSelector.appendChild(topicSelect)
    }

    updateTopicSelector()


    but = document.createElement("BUTTON")
    but.innerHTML = "ok"
    but.addEventListener("click", function () {
        $.ajax(
            {
                type: 'POST',
                url: "/getIterationData",
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify({
                    "data": {
                        "batchId": expInfo["batchId"],
                        "experimentId": expInfo["experimentId"],
                        "iteration": document.getElementById("iterselect").value,
                        "model_run": document.getElementById("runselect").value,
                    }
                }),
                success: function (data) {
                    console.log(data["iterInfo"])
                    if (data["iterinfo"] != false && data["expinfo"] != false) {
                        writeInfo("expInfo", data["iterInfo"])
                        output = data["output"]
                        updateTopicSelector()
                        draw(0)
                    }
                }
            })

    })


    function updateDocViewer() {
        $.ajax(
            {
                type: 'POST',
                url: "/getDocPreview",
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify({
                    "data": {
                        "dataset": expInfo["dataset"],
                        "document": document.getElementById("docSelector").value
                    }
                }),
                success: function (data) {
                    preview = document.getElementById("docPreview")
                    if (data["doc"] == false) data["doc"] = "document not found"
                    preview.innerHTML = "<b>Document preview</b><br>" + data["doc"]

                    datax = []
                    datay = []

                    if (output != false) {

                        for (var i = 0; i < output["topic-document-matrix"].length; i++) {
                            datax.push(i)
                            datay.push(output["topic-document-matrix"][i][document.getElementById("docSelector").value])
                        }
                    }

                    var bardata = [
                        {
                            x: datax,
                            y: datay,
                            type: 'bar'
                        }
                    ];

                    var layout = {
                        margin: {
                            l: 40,
                            r: 40,
                            b: 40,
                            t: 40,
                            pad: 2
                        },
                        paper_bgcolor: 'rgba(256,256,256,1)'
                    };

                    document.getElementById("docTopic").innerHTML = ""

                    Plotly.newPlot('docTopic', bardata, layout);



                }
            })
    }

    updateDocViewer()

    sel.appendChild(but)




    if (iterationInfo != false) writeInfo("expInfo", iterationInfo)







    anychart.onDocumentReady(function () {
        draw(0)
    });



    function draw(topic) {

        document.getElementById("container").innerHTML = ''

        var data = []

        if (output != false) {

            for (i = 0; i < output["topics"][topic].length; i++) {
                data.push({ "x": output["topics"][topic][i][0], "value": output["topics"][topic][i][1], category: topic })
            }
        }


        var chart = anychart.tagCloud(data);
        chart.title('Wordcloud')
        chart.angles([0])
        chart.colorRange(true);
        chart.colorRange().length('80%');
        chart.container("container");
        chart.draw();
    }



    function draw2() {

        if (globalInfo != false) {

            cont = document.getElementById("generic");

            second_axe = [0]

            for (i = 1; i < globalInfo["f_val"].length; i++) {
                second_axe.push(i);
            }

            var layout = {
                margin: {
                    l: 50,
                    r: 50,
                    b: 40,
                    t: 40,
                    pad: 4,
                    grid: {rows: 1, columns: 2, pattern: 'independent'}
                },
                paper_bgcolor: 'rgba(256,256,256,1)',
                xaxis: {domain: [0, 0.7]},
                yaxis2: {anchor: 'x2'},
                xaxis2: {domain: [0.8, 1]},
                showlegend: false
            };


            var trace1 = {
                x: second_axe,
                y: globalInfo["f_val"],
                type: 'scatter'
            }

            var trace2 = {
                y: globalInfo["f_val"],
                type: 'box',
                  marker: {
                    color: 'rgb(10,140,208)'
                  },
                name: '',
                xaxis: 'x2',
                yaxis: 'y2'
            }
            var data = [trace1, trace2]

            Plotly.newPlot("generic", data, layout);

        }
    }

    draw2()

    wordselector = document.getElementById("wordSelector")

    if (vocabulary != false) {

        Object.keys(vocabulary).forEach(function (key) {
            option = document.createElement("option")
            option.text = vocabulary[key];
            option.value = key;
            wordselector.appendChild(option)

        });
    }



    function updateWordGraph() {
        if (vocabulary != false && output != false) {
            wordselector = document.getElementById("wordSelector")
            word = vocabulary[wordselector.text]




            datax = []
            datay = []

            for (var i = 0; i < output["topic-word-matrix"].length; i++) {
                datax.push(i)
                datay.push(output["topic-word-matrix"][i][wordselector.value])
            }

            var bardata = [
                {
                    x: datax,
                    y: datay,
                    type: 'bar'
                }
            ];

            var layout = {
                margin: {
                    l: 40,
                    r: 40,
                    b: 40,
                    t: 40,
                    pad: 2
                },
                paper_bgcolor: 'rgba(256,256,256,1)'
            };

            document.getElementById("wordTopic").innerHTML = ""

            Plotly.newPlot('wordTopic', bardata, layout);
        }
    }
    if (vocabulary != false)
        updateDropdownIndex("wordSelector", Object.keys(vocabulary)[0])
    updateWordGraph()




</script>

</html>
