<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>OpTopic - {{experimentName}}</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/swiper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

    <style>
        html,
        body,
        #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img
                src="{{ url_for('static', filename='images/logo.png') }}" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('home') }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                        EXPERIMENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>{{experimentName}}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <div id="projects" class="accordion">
        <div style="float: left; width: 50%; height: 100%;">
            <div style="height: 15%;" id="expSelector"></div>
            <div style="height: 35%;" id="optInfo"></div>
            <div style="height: 15%;" id="iterationSelector"></div>
            <div style="height: 35%;" id="expInfo"></div>
        </div> <!-- end of col -->
        <div style="float: left; width: 50%; height: 100%;">
            <div style="height: 85%;" id="container"></div>
            <div style="height: 15%;" id="topicSelector"></div>
        </div>

    </div> <!-- end of col -->


    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Optopic</h4>
                        <p class="white">Optimizing topic models made simple.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Made in 2020, MIND. Department of Informatics Systems and Communication of Milano
                        Bicocca</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='swiper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.magnific-popup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='morphext.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='validator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>

</body>
<script>
    function getParams(vars) {
        return vars;
    }


    function updateDropdownIndex(dropdownId, value) {
        dropDown = document.getElementById(dropdownId)
        for (var i, j = 0; i = dropDown.options[j]; j++) {
            if (i.text == value) {
                dropDown.selectedIndex = j;
                break;
            }
        }
    }


    var output = getParams({{ output| tojson}});
    globalInfo = getParams({{ globalInfo| tojson}});
    iterationInfo = getParams({{ iterationInfo| tojson}});
    var expInfo = getParams({{ expInfo| tojson}});
    expIds = getParams({{ expIds| tojson}});
    expName = getParams({{ experimentName| tojson}});


    function writeInfo(elementId, info) {
        ele = document.getElementById(elementId)
        ele.innerHTML = ''
        node = document.createElement("p")
        node.innerHTML = "<b>Best seen:</b> " + info["best_seen"] +
            "<br><b>Mean:</b> " + info["mean_seen"] +
            "<br><b>Median:</b> " + info["median_seen"] +
            "<br><b>Worst seen:</b> " + info["worse_seen"];

        ele.appendChild(node)
    }




    selectExp = document.createElement("select")
    selectExp.classList.add("form-control-select")
    selectExp.id = "selecExp"
    selectExp.addEventListener("click", function () {
        infoSelector = JSON.parse(this.value)
        location.href = "../../SingleExperiment/" + infoSelector["batchId"] + "/" + infoSelector["expId"]
    })

    for (const val of expIds) {
        var option = document.createElement("option");
        option.text = val[0];
        option.value = JSON.stringify({ "expId": val[1][1], "batchId": val[1][0] })
        selectExp.appendChild(option)
    }

    document.getElementById("expSelector").appendChild(selectExp)
    updateDropdownIndex(selectExp.id, expName)


    sel = document.getElementById("iterationSelector")

    iterSelect = document.createElement("input")
    iterSelect.classList.add("form-control-number");
    iterSelect.id = "iterselect"
    iterSelect.setAttribute("type", "number");
    iterSelect.setAttribute("min", 0);
    iterSelect.setAttribute("max", expInfo["optimization"]["iterations"] - 1);

    sel.appendChild(document.createTextNode("Iteration: "))

    sel.appendChild(iterSelect)






    function updateTopicSelector() {
        topicSelector = document.getElementById("topicSelector")
        topicSelector.innerHTML = ''

        topicSelect = document.createElement("select")
        topicSelect.classList.add("form-control-select")
        topicSelect.id = "selecTopic"
        topicSelect.addEventListener("click", function () {
            draw(this.value)
        })

        for (i = 0; i < output["topic-word-matrix"].length; i++) {
            var option = document.createElement("option");
            option.text = i;
            option.value = i;
            topicSelect.appendChild(option)
        }

        topicSelector.appendChild(topicSelect)
    }

    updateTopicSelector()


    but = document.createElement("BUTTON")
    but.innerHTML = "ok"
    but.addEventListener("click", function () {
        $.ajax(
            {
                type: 'POST',
                url: "/getIterationData",
                contentType: 'application/json;charset=UTF-8',
                dataType: 'json',
                data: JSON.stringify({
                    "data": {
                        "batchId": expInfo["batchId"],
                        "experimentId": expInfo["experimentId"],
                        "iteration": document.getElementById("iterselect").value,
                        "model_run": 0
                    }
                }),
                success: function (data) {
                    writeInfo("expInfo", data["iterInfo"])
                    output = data["output"]
                    updateTopicSelector()
                    draw(0)
                }
            })

    })

    sel.appendChild(but)




    writeInfo("optInfo", globalInfo)
    writeInfo("expInfo", iterationInfo)







    anychart.onDocumentReady(function () {
        draw(0)
    });



    function draw(topic) {

        document.getElementById("container").innerHTML = ''

        var data = []

        for (i = 0; i < output["topics"][topic].length; i++) {
            data.push({ "x": output["topics"][topic][i][0], "value": output["topics"][topic][i][1], category: topic })
        }

        // create a tag (word) cloud chart
        var chart = anychart.tagCloud(data);
        // set a chart title
        chart.title('Wordcloud')
        // set an array of angles at which the words will be laid out
        chart.angles([0])
        // enable a color range
        chart.colorRange(true);
        // set the color range length
        chart.colorRange().length('80%');
        // display the word cloud chart
        chart.container("container");
        chart.draw();
    }

</script>

</html>