<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Website Title -->
    <title>OpTopic - Visualize Experiments</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/fontawesome-all.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/swiper.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/magnific-popup.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/slick.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/slick-theme.css') }}" rel="stylesheet">
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }
    </style>
    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->


    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html"><img
                src="{{ url_for('static', filename='images/logo.png') }}" alt="alternative"></a>

        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('home') }}">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                        EXPERIMENTS<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->


    <!-- Header -->
    <header id="header" class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Visualize Experiments</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <section id="batchSelector" class="regular slider"></section>






    <!-- Projects -->
    <div id="projects" class="filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="filters" class="button-group filters-button-group">
                        <a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>
                    </div>
                    <div class="grid" id="theCanvas"></div>

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of filter -->
    <!-- end of projects -->



    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-container about">
                        <h4>Optopic</h4>
                        <p class="white">Optimizing topic models made simple.</p>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of footer -->
    <!-- end of footer -->


    <!-- Copyright -->
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Made in 2020, MIND. Department of Informatics Systems and Communication of Milano
                        Bicocca</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


    <!-- Scripts -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='swiper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.magnific-popup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='morphext.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='isotope.pkgd.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='validator.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='slick.js') }}"></script>


    <script>
        function getParams(vars) {
            return vars;
        }


        $(document).ready(function () {

            batchToShow = {}
            //Get batchIds
            batchIds = getParams({{ batchNames| tojson}});

        batchIds.forEach(batchId => {
            batchDiv = document.createElement("div")
            img = document.createElement("img");
            img.classList.add("img-fluid");
            img.id = batchId;
            img.src = "{{ url_for('static', filename='images/batch.png') }}";
            img.alt = "alternative";
            img.addEventListener("click", function () {

                if (this.src.includes("selected")) {
                    n = this.src.indexOf("_selected")
                    this.src = this.src.substring(0, n).concat(".png")
                    delete batchToShow[this.id]
                } else {
                    n = this.src.length - 4
                    this.src = this.src.substring(0, n).concat("_selected.png")
                    batchToShow[this.id] = true;
                }
                refreshCanvas(batchToShow)

            });

            batchname = document.createElement("p")
            batchname.innerHTML = batchId
            batchDiv.appendChild(img)
            batchDiv.appendChild(batchname)
            document.getElementById("batchSelector").appendChild(batchDiv)
        });

        function refreshCanvas(batchIds) {
            $.ajax(
                {
                    type: 'POST',
                    url: "/getBatchExperiments",
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify({ "data": Object.keys(batchIds) }),
                    success: function (data) {
                        
                        if (data != null) {
                            cont = document.getElementById("theCanvas");
                            cont.innerHTML = '';

                            modelsSet = new Set();

                            data.forEach(function (item, index) {
                                console.log(item)

                                innerDiv = document.createElement("div")
                                innerDiv.classList.add("element-item")
                                innerDiv.classList.add(item["model"]["name"])
                                modelsSet.add(item["model"]["name"])

                                a = document.createElement("a")
                                a.classList.add("popup-with-move-anim");

                                img = document.createElement("img")
                                img.src = "{{ url_for('static', filename='images/batch.png') }}";

                                ExpName = document.createElement("div")
                                ExpName.classList.add("element-item-overlay")
                                ExpName.innerHTML = "<span>" + item["batchId"] + " " + item["experimentId"] + "</span>";
                                ExpName.style.color = 'white';

                                innerDiv.appendChild(a);
                                a.appendChild(ExpName)
                                a.appendChild(img);


                                cont.appendChild(innerDiv)



                                console.log(item, index);
                            });

                            filterButtons = document.getElementById("filters")
                            filterButtons.innerHTML = '<a class="button is-checked" data-filter="*"><span>SHOW ALL</span></a>';

                            modelsSet.forEach(function (item, index) {
                                newFilter = document.createElement("a")
                                newFilter.classList.add("button")
                                newFilter.dataset.filter = "." + item
                                newFilter.innerHTML = "<span>" + item + "</span>"
                                filterButtons.appendChild(newFilter);
                            });


                        }
                    }/*success : function() {}*/
                });

        }


        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });


        });







    </script>

</body>

</html>