<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>OpTopic - Visualize Experiments</title>
    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/slick.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/slick-theme.css') }}" rel="stylesheet">
    <style type="text/css">
        html,
        body {
            margin: 0;
            padding: 0;
        }

        * {
            box-sizing: border-box;
        }

        .slider {
            width: 50%;
            margin: 100px auto;
        }

        .slick-slide {
            margin: 0px 20px;
        }

        .slick-slide img {
            width: 100%;
        }

        .slick-prev:before,
        .slick-next:before {
            color: black;
        }


        .slick-slide {
            transition: all ease-in-out .3s;
            opacity: 1;
        }

        .slick-active {
            opacity: 1;
        }

        .slick-current {
            opacity: 1;
        }


        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .imok {
            background-color: #ccd4f2;
        }

        .coolButtonDiv {
            border-radius: 9px;
            padding: 3px;
            border-style: groove;
        }

        .slidercheck {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #4059AD;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slidercheck:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slidercheck {
            background-color: #4059AD;
        }

        input:focus+.slidercheck {
            box-shadow: 0 0 1px #4059AD;
        }

        input:checked+.slidercheck:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        .slidercheck.round {
            border-radius: 34px;
        }

        .slidercheck.round:before {
            border-radius: 50%;
        }
    </style>
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>

<body>
    <div>
        <ul class="navbar">
            <li claa="navbarEl">
                <a class="navbarLink" href="{{ url_for('home') }}"><img style="width:20%"
                        src="{{ url_for('static', filename='images/logo.png') }}" alt="alternative"></a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('home') }}">HOME</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                    EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS</a>
            </li>
            <li class="navbarEl">
                <a class="navbarLink" href="{{ url_for('serverClosed') }}">CLOSE DASHBOARD</a>
            </li>
        </ul>
    </div>
    <header id="header">
        <div>
            <h1 style="text-align: center">Visualize experiments</h1>
        </div>
    </header>

    <section id="batchSelector" class="regular slider"></section>
    <div style="padding-left: 70%;">
        <p id="labelGraphType"><b>Line chart</b></p>
        <label class="switch">
            <input type="checkbox" id="graphType" name="graphType">
            <span class="slidercheck round"></span>
        </label>
    </div>

    <div id="projects">
        <div class="container">
            <div class="row">
                <p><b>Filters:</b></p>
            </div>
            <div class="row">
                <div id="datasetfilters" class="button-group"></div>
            </div>
            <div class=" row">
                <div id="modelfilters" class="button-group"></div>
            </div>
            <div class="row">
                <div id="metricfilters" class="button-group"></div>
            </div>

            <div class="row">
                <p><b>sort by:</b></p>
            </div>

            <div class="row">
                <a id="sortDataset" class="button coolButtonDiv" data-what="dataset"><span>Dataset</span></a>
            </div>
            <div class="row">
                <a id="sortModel" class="button coolButtonDiv" data-what="model"><span>Models</span></a>
            </div>
            <div class="row">
                <a id="sortMetric" class="button coolButtonDiv" data-what="metric"><span>Metrics</span></a>
            </div>

            <div class="row" style="overflow: scroll;">
                <div id="theCanvas"></div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <h4>Optopic</h4>
            <p class="white">Optimizing topic models made simple.</p>
        </div>
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='slick.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plotly-latest.min.js') }}"></script>
    <script>
        function getParams(vars) {
            return vars;
        }


        $(document).ready(function () {

            batchToShow = {}
            //Get batchIds
            batchIds = getParams({{ batchNames| tojson}});

        batchIds.forEach(batchId => {
            batchDiv = document.createElement("div")
            img = document.createElement("img");
            img.classList.add("img-fluid");
            img.id = batchId;
            img.src = "{{ url_for('static', filename='images/batch.png') }}";
            img.alt = "alternative";
            img.addEventListener("click", function () {

                if (this.src.includes("selected")) {
                    n = this.src.indexOf("_selected")
                    this.src = this.src.substring(0, n).concat(".png")
                    delete batchToShow[this.id]
                } else {
                    n = this.src.length - 4
                    this.src = this.src.substring(0, n).concat("_selected.png")
                    batchToShow[this.id] = true;
                }
                refreshCanvas(batchToShow)

            });

            batchname = document.createElement("p")
            batchname.innerHTML = batchId
            batchDiv.appendChild(img)
            batchDiv.appendChild(batchname)
            document.getElementById("batchSelector").appendChild(batchDiv)
        });


        var boxplotCheck = document.querySelector("input[name=graphType]");

        boxplotCheck.addEventListener('change', function () {
            lab = document.getElementById("labelGraphType");
            if (this.checked) {
                lab.innerHTML = "<b>Boxplot</b>"
            } else {
                lab.innerHTML = "<b>Line chart</b>"
            }
            refreshCanvas(batchToShow)
        });

        allData = ''
        var toshow = []

        var modelsSet = new Set();
        var datasetsSet = new Set();
        var metricsSet = new Set();


        function getNewExpState(batchIds) {
            $.ajax(
                {
                    type: 'POST',
                    url: "/getBatchExperiments",
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify({ "data": Object.keys(batchIds) }),
                    success: function (data) {
                        allData = data;
                        draw()
                    }
                })
        }

        function refreshCanvas(batchIds) {
            $.ajax(
                {
                    type: 'POST',
                    url: "/getBatchExperiments",
                    contentType: 'application/json;charset=UTF-8',
                    dataType: 'json',
                    data: JSON.stringify({ "data": Object.keys(batchIds) }),
                    success: function (data) {
                        allData = data;
                        toshow = allData;



                        data.forEach(function (item, index) {
                            modelsSet.add(item["model"]["name"])
                            datasetsSet.add(item["dataset"])
                            metricsSet.add(item["optimize_metrics"][0]["name"])
                            item["track_metrics"].forEach(function (metric, i) {
                                metricsSet.add(metric["name"])
                            });
                        });

                        modelfilterButtons = document.getElementById("modelfilters")
                        modelfilterButtons.innerHTML = '';

                        modelsSet.forEach(function (item, index) {
                            newFilter = document.createElement("a")
                            newFilter.classList.add("button")
                            newFilter.classList.add("buttonsfilters")
                            newFilter.dataset.filter = item
                            newFilter.dataset.what = "model"
                            newFilter.innerHTML = "<span>" + item + "</span>"
                            modelfilterButtons.appendChild(newFilter);
                        });


                        datasetfilterButtons = document.getElementById("datasetfilters")
                        datasetfilterButtons.innerHTML = '';

                        datasetsSet.forEach(function (item, index) {
                            newFilter = document.createElement("a")
                            newFilter.classList.add("button")
                            newFilter.classList.add("buttonsfilters")
                            newFilter.dataset.filter = item
                            newFilter.dataset.what = "dataset"
                            newFilter.innerHTML = "<span>" + item + "</span>"
                            datasetfilterButtons.appendChild(newFilter);
                        });


                        metricfilterButtons = document.getElementById("metricfilters")
                        metricfilterButtons.innerHTML = '';

                        metricsSet.forEach(function (item, index) {
                            newFilter = document.createElement("a")
                            newFilter.classList.add("button")
                            newFilter.classList.add("buttonsfilters")
                            newFilter.dataset.filter = item
                            newFilter.dataset.what = "metric"
                            newFilter.innerHTML = "<span>" + item + "</span>"
                            metricfilterButtons.appendChild(newFilter);
                        });

                        draw(data)
                    }/*success : function() {}*/
                });

        }


        $(".regular").slick({
            dots: true,
            infinite: true,
            slidesToShow: 3,
            slidesToScroll: 3
        });




        function createMatrix(div, rows, cols) {

            table = document.createElement("table");



            for (x = 0; x <= rows; x++) {

                row = document.createElement('tr')

                if (x % 2 == 0) {
                    row.style.backgroundColor = "#f5f9fc"
                } else {
                    row.style.backgroundColor = "#f5f5f5"
                }


                for (y = 0; y <= cols; y++) {

                    col = document.createElement('td')

                    col.id = x.toString() + "_" + y.toString()

                    row.appendChild(col)

                }

                table.appendChild(row)
            }

            div.appendChild(table)
        }


        function fillMatrix(div, list1, list2, key1, key2, dict) {
            if (list1.length > 0 && list2.length > 0) {
                createMatrix(div, list1.length, list2.length)

                for (i = 0; i < list1.length; i++) {
                    cell = document.getElementById((i + 1).toString() + "_0")
                    cell.innerHTML = cell.innerHTML + "<b>" + list1[i] + "</b>"
                }

                for (i = 0; i < list2.length; i++) {
                    cell = document.getElementById("0_" + (i + 1).toString())
                    cell.innerHTML = cell.innerHTML + "<b>" + list2[i] + "</b>"
                }

                for (i = 0; i < dict.length; i++) {
                    row = list1.indexOf(dict[i][key1]) + 1
                    col = list2.indexOf(dict[i][key2]) + 1

                    cell = document.getElementById(row.toString() + "_" + col.toString())
                    cell.appendChild(dict[i]["div"])




                    if (document.getElementById("graphType").checked) {
                        var trace = {
                            y: dict[i]["graph_info"][2][2],
                            type: 'box'
                        }
                        Plotly.newPlot(dict[i]["graph_info"][0], [trace], dict[i]["graph_info"][1]);
                    }
                    else {

                        var trace = {
                            x: dict[i]["graph_info"][2][1],
                            y: dict[i]["graph_info"][2][0],
                            type: 'scatter'
                        }
                        Plotly.newPlot(dict[i]["graph_info"][0], [trace], dict[i]["graph_info"][1]);
                    }


                }
            } else {
                div.innerHTML = "Select at least two parameters to sort by."
            }
        }

        var key1 = "model"
        var key2 = "dataset"

        sD = document.getElementById("sortDataset")
        sMod = document.getElementById("sortModel")
        sMet = document.getElementById("sortMetric")
        sD.classList.add("imok")
        sMod.classList.add("imok")

        sD.addEventListener("click", function () { updatekeys("sortDataset") })
        sMod.addEventListener("click", function () { updatekeys("sortModel") })
        sMet.addEventListener("click", function () { updatekeys("sortMetric") })

        function updatekeys(elementId) {
            elemenet = document.getElementById(elementId)
            if (elemenet.classList.contains("imok")) {
                if (key1 == elemenet.dataset.what) {
                    key1 = ""
                } else {
                    key2 = ""
                }
                elemenet.classList.remove("imok")

            } else {
                if (key1 == "") {
                    key1 = elemenet.dataset.what
                    elemenet.classList.add("imok")
                }
                else {
                    if (key2 == "") {
                        key2 = elemenet.dataset.what
                        elemenet.classList.add("imok")
                    }
                    else {
                        key1 = elemenet.dataset.what
                        key2 = ""

                        sD = document.getElementById("sortDataset")
                        sMod = document.getElementById("sortModel")
                        sMet = document.getElementById("sortMetric")
                        if (sD.id != elemenet.id) {
                            sD.classList.remove("imok")
                        }
                        if (sMod.id != elemenet.id) {
                            sMod.classList.remove("imok")
                        }
                        if (sMet.id != elemenet.id) {
                            sMet.classList.remove("imok")
                        }
                        elemenet.classList.add("imok")

                    }
                }
            }

            draw(allData)

        }

        var intervalID = setInterval(function () { getNewExpState(batchToShow); }, 5000);


        function redraw(data) {

            if (data != "") {
                cont = document.getElementById("theCanvas");
                cont.innerHTML = '';


                dicFinal = []



                data.forEach(function (item, index) {
                    console.log(item)

                    innerDiv = document.createElement("div")
                    innerDiv.classList.add("element-item")
                    innerDiv.classList.add(item["model"]["name"])
                    innerDiv.style.height = "500px";
                    innerDiv.style.width = "500px";

                    a = document.createElement("a")
                    a.classList.add("popup-with-move-anim");

                    graph = document.createElement("div")
                    graph.id = item["experimentId"]

                    if (item["optimization_data"] != false) {

                        best_seen = [item["optimization_data"]["f_val"][0]]
                        second_axe = [0]



                        for (i = 1; i < item["optimization_data"]["f_val"].length; i++) {
                            if (best_seen[i - 1] < item["optimization_data"]["f_val"][i]) {
                                best_seen.push(item["optimization_data"]["f_val"][i]);
                            } else {
                                best_seen.push(best_seen[i - 1]);
                            }
                            second_axe.push(i);
                        }

                        var layout = {
                            width: 500,
                            height: 500,
                            margin: {
                                l: 50,
                                r: 50,
                                b: 40,
                                t: 40,
                                pad: 4
                            },
                            paper_bgcolor: 'rgba(256,256,256,1)'
                        };

                        ExpName = document.createElement("div")
                        ExpName.innerHTML = "<span>" + item["batchId"] + " " + item["experimentId"] + "</span>";
                        ExpName.dataset.expName = item["experimentId"]
                        ExpName.dataset.batchName = item["batchId"]
                        ExpName.addEventListener('click', function () {
                            location.href = "SingleExperiment/" + this.dataset.batchName + "/" + this.dataset.expName
                        });

                        innerDiv.appendChild(a);
                        a.appendChild(ExpName)
                        a.appendChild(graph);



                        dicFinal.push({
                            "model": item["model"]["name"],
                            "dataset": item["dataset"],
                            "metric": item["optimize_metrics"][0]["name"],
                            "div": innerDiv,
                            "graph_info": [item["experimentId"], layout, [best_seen, second_axe, item["optimization_data"]["f_val"]]]
                        });

                        console.log(item, index);
                    }
                });



                if (key1 == "model") {
                    list1 = Array.from(modelsSet)
                }
                if (key1 == "metric") {
                    list1 = Array.from(metricsSet)
                }
                if (key1 == "dataset") {
                    list1 = Array.from(datasetsSet)
                }
                if (key1 == "") {
                    list1 = []
                }

                if (key2 == "model") {
                    list2 = Array.from(modelsSet)
                }
                if (key2 == "metric") {
                    list2 = Array.from(metricsSet)
                }
                if (key2 == "dataset") {
                    list2 = Array.from(datasetsSet)
                }
                if (key2 == "") {
                    list2 = []
                }


                fillMatrix(cont, list1, list2, key1, key2, dicFinal)


            }
        }



        function draw() {

            var buttons = $(".button.clicked");
            if (buttons.length == 0) {
                redraw(allData)
            } else {
                to_remove = [];
                buttons.each(function () {
                    currentFilter = this.dataset.filter
                    if (this.dataset.what == "model") {
                        for (i in allData) {
                            if (allData[i]["model"]["name"] != currentFilter) {
                                to_remove.push(allData[i]["experimentId"])
                            }
                        }
                    }
                    if (this.dataset.what == "dataset") {
                        for (i in allData) {
                            if (allData[i]["dataset"] != currentFilter) {
                                to_remove.push(allData[i]["experimentId"])
                            }
                        }
                    }
                    if (this.dataset.what == "metric") {
                        for (i in allData) {

                            ver = false;
                            allData[i]["track_metrics"].forEach(function (item, index) {
                                if (item["name"] == currentFilter) ver = true;
                            })

                            if (!ver && allData[i]["optimize_metrics"][0]["name"] != currentFilter) {
                                to_remove.push(allData[i]["experimentId"])
                            }
                        }
                    }



                });

                toshow = []
                for (i in allData) {
                    if (to_remove.indexOf(allData[i]["experimentId"]) >= 0) {

                    } else {
                        toshow.push(allData[i])
                    }
                }

                redraw(toshow)

            }

        }


        $('.button-group').each(function (i, buttonGroup) {
            var $buttonGroup = $(buttonGroup);
            $buttonGroup.on('click', 'a', function () {
                if (this.classList.contains("clicked")) {
                    $(this).removeClass('clicked');
                } else {
                    $(this).addClass('clicked');
                }

                draw()

            });
        });


    });


    </script>

</body>

</html>