gensim>=4.0.0
nltk
pandas
spacy
scikit-learn>=0.24.2
scikit-optimize>=0.8.1
matplotlib
torch
numpy
flask
sentence_transformers
git+https://github.com/MIND-Lab/dragonfly#egg=dragonfly-opt
requests
git+https://https://github.com/silviatti/gensim/tree/fix_3181#egg=gensim
