<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>OCTIS - Home</title>

    <link href="{{ url_for('static', filename='styles/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/styles.css') }}" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">

</head>

<body>

<div>
    <ul class="navbar">
        <li class="navbarEl">
            <a class="navbarLink" href="{{ url_for('home') }}"><img style="width:20%"
                                                                    src="{{ url_for('static', filename='images/logo.png') }}"
                                                                    alt="alternative"></a>
        </li>
        <li class="navbarEl">
            <a class="navbarLink" href="{{ url_for('home') }}">HOME</a>
        </li>
        <li class="navbarEl">
            <a class="navbarLink" href="{{ url_for('CreateExperiments') }}">CREATE EXPERIMENTS</a>
        </li>
        <li class="navbarEl">
            <a class="navbarLink" href="{{ url_for('VisualizeExperiments') }}">VISUALIZE
                EXPERIMENTS</a>
        </li>
        <li class="navbarEl">
            <a class="navbarLink" href="{{ url_for('ManageExperiments') }}">MANAGE EXPERIMENTS</a>
        </li>
        <!--<li class="navbarEl">
            <a class="navbarLink" href="{{ url_for('serverClosed') }}">CLOSE DASHBOARD</a>
        </li>
        -->
    </ul>
</div>

<header id="header">
    <br>
    <div>
        <h1 style="text-align: center">Welcome to OCTIS! </h1>
    </div>
</header>
<hr>
<div class="outContainer">
    <div class="container" style="overflow: hidden;">
        <img src="{{url_for('static', filename='images/pic1.png')}}" align="right" style="width:400px;margin:20px 50px"/>
            <h3> What is OCTIS?</h3>
            <p class="lead"> OCTIS is an open-source evaluation and optimization framework
                that allows you to optimize the hyperparameters of state-of-the-art Topic Models and
                compare their performance with respect to several evaluation metrics on several datasets.</p>
        <br>
            <h3> Why optimizing the hyperparameters of a topic model?</h3>
            <p class="lead">Topic models are usually controlled by hyperparameters that have a huge impact on the performance
                of the model itself. The value of these hyperparameters are dependent on your task and on the dataset.
                To solve the problem of finding an optimal hyperparameter configuration of a topic model,
                we can run an optimization algorithm (in our case, we use Bayesian Optimization) that automatically
                and efficiently discovers an optimal configuration without a lot of effort. Just select the
                hyperparameters of the model you want to optimize, your objective evaluation metric and the iterations of the Bayesian Optimization algorithm and OCTIS
                will do the rest of the job! </p>
        <br>
            <h3>Main Features </h3>
            <p class="lead"> OCTIS allows you to:
            <ul>
                <li style="font-size:20px"> define and start your optimization experiments by selecting a dataset, a model, its hyperparameters and
                an evaluation metric to optimize;</li>
                <li style="font-size:20px"> compare the optimization progress of your designed experiments </li>
                <li style="font-size:20px">easily inspect the output of each topic model and the summary of the optimization</li>
            <li style="font-size:20px"> manage the queue of the designed experiments, by changing their priority or pausing/restarting their execution.</li></ul>
</p>
             <h3> Open-sourceness </h3><p class="lead">
            OCTIS has been realized for research purposes and
            it will be freely released to the NLP community. We collected open-source implementations of topic models,
            we used open-source libraries and freely available data. NOTE: We do not own the data. We just downloaded
            and prepared public datasets. We do not host or distribute these datasets, vouch for their quality or
            fairness, or claim that you have license to use the dataset. If you're a dataset owner and wish to update any part of it, or do not want your dataset to be included in this library, please get in touch through a GitHub issue.
        </p>
        </div>
        <!---
        <div style="float: left;width: 50%;">

            <img id="pic2" class="picAligned" src="{{url_for('static', filename='images/pic2.jpg')}}">
        </div>
          -->

    </div>
</div>

<div class="footer">
    <div class="container">
        <h4 style="color:white;">OCTIS</h4>
        <p class="white" style="color:white;">Optimizing and Comparing Topic Models is Simple!</p>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.easing.min.js') }}"></script>

</body>

</html>
